.container i{
    font-size: 16px;
  }
  .header{
    position:fixed;
    height:80px;
    width:calc(100% - 250px);
    left:250px;
    background: #fff;
    box-shadow: 0 0 2px rgb(0 0 0 / 10%);
  }
  .header.active{
    z-index: 100;
    width:calc(100% - 78px);
    left:78px;
  }
  .header .navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: .5rem .5rem;
    flex-flow: row nowrap;
    height: inherit;
    border-bottom: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
  }
  .line{
    margin: 100px 0;
    padding: 1px;
    background:#E8E8E8;
  }
  #btn{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    float: left;
    cursor: pointer;
    color: var(--tm-color);
    
    margin-left: 15px;
    padding: 0 15px;
    font-size: 24px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
  }
  .header .navbar .navbar-nav{
    display: flex;
    align-items: center;
  }
  .header .navbar .navbar-nav .nav-item
  {
      padding-right: 1rem;
      padding-left: 1rem;;
  }
  .header .navbar .navbar-nav .nav-item a i{
    font-size: 24px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }
  .header .navbar .navbar-nav .nav-item .nav-link{
    background-color: #EBEBEB;
    color: #898A8D;
    text-decoration: none;
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  } 
  .header .navbar .navbar-nav .nav-item .nav-link:hover {
    background: rgb(228,230,235);
    cursor: pointer;
  }
  .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 1px 2px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  /* header */

  .sidebar .logo_content{
    margin-bottom: 24px;
    margin-top: 23px;
  }
  .sidebar .logo_content .logo{
    color:var(--white-color);
    width:100%;
    text-align: center;
    pointer-events: none;
    transition-delay: 1s;
  }
  .sidebar .logo_content .logo span{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .sidebar.active .logo_content .logo span{
    display: none;
  }

  .sidebar .content{
    color:var(--white-color);
    width:100%;
    border-radius: 10%;
    margin-top: 50px;
  }
  .sidebar .content .user{
    position:relative;
    height:60px;
    background: none;
    transition:all 0.4s ease;
  }
  .content .user .user_details{
    display:flex;
    margin-left: 40px;
    align-items:center;
    opacity:1;
    pointer-events: none;
    white-space: nowrap;
    transition:all 0.4s ease;
  }
  .content .user .user_details img{
    height:45px;
    width:45px;
    object-fit: cover;
    border-radius: 12px;
  }
  #logo-user{
    position: relative;
    text-align: center;
    transition: all 0.4s ease;
  }
  .sidebar.active .name_job{
    opacity: 0;
  }
  .name_job{
    margin-left:10px;
  }
   .user_details .name{
    font-size: 16px;
    font-weight: 400;
  }
   .user_details .job{
    font-size: 12px; 
  }
   #log_out{
    position:absolute;
    bottom:5px;
    left:50%;
    transform:translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition:all 0.4s ease;
  }
  .sidebar.active .user #log_out{
    left:80%;
    background:none;
  }
 
  /* add */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    padding: 10px;
  }
  
  .title {
    font-size: 3rem;
    display: grid;
    place-items: center;  
  }
  
  /* Sidebar */
  .sidebar {
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    background: var(--tm-color);
    z-index: 99;
    transition: none !important;
  }
  
  .top_section {
    padding: 15px 10px;
    margin-bottom: 24px;
    margin-top: 23px;
    text-align: center;
  }
  .logo {
    font-size: 18px;
    line-height: 0;
  }
  .bars {
    width: 30px;
  }
  .hide {
    display: none;
  }
  
  .search {
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 30px;
    padding: 10px;
  }
  .search input {
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    background: rgb(238, 238, 238);
  
    color: white;
  }
  
  .routes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .link {
    display: flex;
    color: white;
    gap: 10px;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
    /*  */
    position: relative;
    /* height: 50px; */
    width: 100%;
    font-size: 26px;
    list-style: none;
    line-height: 50px;
    align-items: center;
  }
  .link:hover {
    border-right: 4px solid white;
    background: rgb(45, 51, 89);
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  .active {
    border-left: 4px solid white;
    background: rgb(45, 51, 89);
  }
  .link_text {
    white-space: nowrap;
    font-size: 16px;
  }
  
  .menu {
    display: flex;
    color: white;
  
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    justify-content: space-between;
  }
  .menu_item {
    display: flex;
    gap: 10px;
  }
  .menu_container {
    display: flex;
    flex-direction: column;
  }
  .menu_container .link {
    padding-left: 20px;
    border-bottom: #fff 0.5px solid;
  }
  
  