.page-wrapper .top-bars{
    border-bottom: 0.5px solid ;
    border-color: var(--border-color);
    height: 70px;
    min-width: auto;
    padding: 9px 0;
  }
  .page-wrapper .top-bars .content-header{
    align-items: center;
    border: 1px none;
    display: flex;
    justify-content: space-evenly;
    width: auto;
  }
  .page-wrapper .top-bars .content-header .box-item{
    background-color: var(--h-color);
    border-radius: 8px;
    min-width: 280px;
    display: block;
    position: relative;
  }
  .page-wrapper .top-bars .content-header .box-item:hover{
    transform: translate(-5px, -5px);
    border-color: var(--black-color);
    box-shadow: 0px 4px 4px #00000040; 
  }
  .page-wrapper .top-bars .content-header .box-item .box-item__border{
    position: absolute;
    height: 46px;
    width: 260px;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .page-wrapper .top-bars .content-header .box-item i{
    font-size: 24px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }
  .page-wrapper .top-bars .content-header .box-item .box-item__link{
    align-items: center;
    border:1px none;
    display: flex;
    left: 16px;
    min-width: 217px;
    top: 7px;
    height: 46px;
    justify-content: space-evenly;
  }
  .notification-badge{
    align-items: flex-start;
    background-color: var(--do-color);
    border-radius: 10px;
    display: flex;
    height: 20px;
    justify-content: flex-end;
    padding: 2px 6px;
    color: var(--white-color);
  }