.page-wrapper{
    position:absolute;
    height:100%;
    width:calc(100% - 240px);
    left:250px;
    top: 80px;
    background:var(--background-color);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition:all 0.5s ease;
  }

  /*  */
  .page-wrapper{
    position:absolute;
    width:calc(100% - 240px);
    left:240px;
    top: 80px;
    background:var(--background-color);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition:all 0.5s ease;
    padding: 0 2rem;
  }
  .sidebar.active ~ .page-wrapper{
    z-index:100;
    width:calc(100% - 78px);
    left:78px;
  }
  /* add */
  
  .top-bars{
    border-bottom: 0.5px solid ;
    border-color: var(--border-color);
    height: 70px;
    min-width: auto;
    padding: 9px 0;
  }
  .content-header{
    align-items: center;
    border: 1px none;
    display: flex;
    justify-content: space-evenly;
    width: auto;
  }
  .page-wrapper .top-bars .content-header .box-item{
    background-color: var(--h-color);
    border-radius: 8px;
    height: 46px;
    display: block;
    position: relative;
   
  }
  .page-wrapper .top-bars .content-header .box-item:hover{
    transform: translate(-5px, -5px);
    border-color: var(--black-color);
    box-shadow: 0px 4px 4px #00000040; 
  }
  .page-wrapper .top-bars .content-header .box-item .box-item__border{
    position: absolute;
    height: 46px;
    width: 260px;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .page-wrapper .top-bars .content-header .box-item i{
    font-size: 24px;
    font-weight: 400;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }
  .page-wrapper .top-bars .content-header .box-item .box-item__link{
    align-items: center;
    border:1px none;
    display: flex;
    left: 16px;
    min-width: 217px;
    top: 7px;
    position: initial;
  }
  .notification-badge{
    align-items: flex-start;
    background-color: var(--do-color);
    border-radius: 10px;
    display: flex;
    height: 20px;
    justify-content: flex-end;
    padding: 2px 6px;
    color: var(--white-color);
  }
  .jc-se{
    justify-content: space-evenly;
  }
  /* ----------------wrapper------------ */
  .content-wrapper{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 3rem;
    border: 1px solid #f4eeff;
    border-radius: 10px;
    box-shadow: 0 4px 4px #f5f8ff;
    background-color: var(--white-color);
  }
  .content-wrapper .card-header{
    width: 100%;
    font-size: 28px;
  }
  .content-wrapper .body-card{
    color: #333;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1rem;
    padding: 1.5rem 0;
  }
  .content-wrapper .body-card .card{
    margin-bottom: 1rem;
  }
  .content-wrapper .body-card .card label{
    display: inline-block;
    margin-bottom: 0.5rem; 
  }
  .page-title{
    text-transform: uppercase;
  }
  input[type=text]{
    appearance:none;
  }
  
  [class^="role"]{
    display: inline-block;
    margin-bottom: 10px;
  }
  .choose-radio{
    display: flex;
  }
  .form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ddd;
    box-shadow: none;
    color: #333;
    font-size: 15px;
    height: 40px;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-check:nth-of-type(2){
    padding-left: 1.5em;
  }
  .form-check label[class^="form-check-label"]{
    padding-left: .5rem ;
    font-size: 16px;
  }
  .btn{
    font-weight: 400;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.25rem;
    height: 60px;
    width: 235px;
    text-transform: uppercase;
    background-color: var(--tm-color);
    color: var(--white-color);
  }
  .layout-btn{
    text-align: center;
  }
  /* table */
  .table-search{
    position: absolute;
    right: 70px;
    float: right;
  }
  .table-search input{
    border-radius: 6px;
      color: #000;
      height: 35px;
      padding: 5px 15px 5px 35px;
      border: 1px solid #f6f0f8;
  }
  .content-wrapper .card-header .page-title{
    margin-bottom: 0;
    float: left;
  }
  .content-wrapper .card-header .table-search button{
    background-color: transparent;
    border-color: transparent;
    color: #680a83;
    padding: 12px 10px;
    position: absolute;
    top: 0;
    right: 184px;
  }
  .card-header:nth-of-type(1){
    padding: 2rem 0;
  }
  .content-wrapper .table{
    width: 100%;
    margin-bottom: 1rem;
    border-color: var(--border-color);
    caption-side: bottom;
    border-collapse: collapse;
  
  }
  .table td{
    border-top: 1px solid #e2e5e8; 
    padding: 1rem 0.75rem;
    white-space: nowrap;
    text-align: center;
  }
  table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    /* background-color: var(--background-color); */
    border-bottom-width: 1px;
  
  }
  .table tr{
    border-color: var(--border-color);
      border-style: solid;
      border-width: 0;
  }
  .table thead{
    border-bottom: 1px solid #e2e5e8;
  }
  .table tbody tr {
    border-bottom: 1px solid #e2e5e8;
  }
  .btn-icon{
    border-radius: 20%;
    background-color: rgba(15,183,107,.12)!important;
    margin-right: 0.5rem!important;
    padding: 0.5rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
    /*  */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
  }
  .pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .pagination ul{
    display: flex;
    padding-left: 0;
    margin: 20px 0;
  }
  .pagination li{
    display: inline;
  }
  .pagination li a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
  }
  .pagination li a:hover{
    background: var(--tm-color);
    color: var(--white-color);
  }
  .layout-btn button:nth-of-type(1){
    margin-right: 2rem;
  }